services:
  api:
    image: public.ecr.aws/e8f5b0r5/stocks-api:latest
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    env_file:
      - .env
    restart: unless-stopped

  updates_broker:
    image: public.ecr.aws/e8f5b0r5/broker-updates:latest
    container_name: updates_broker
    environment:
      - MONGO_URI=mongodb://mongo_db:27017/stocks_db
    depends_on:
      - mongo
    env_file:
      - .env
    restart: unless-stopped

  requests_broker:
    image: public.ecr.aws/e8f5b0r5/broker-requests:latest
    container_name: requests_broker
    environment:
      - MONGO_URI=mongodb://mongo_db:27017/stocks_db
    depends_on:
      - mongo
    env_file:
      - .env
    restart: unless-stopped

  mongo:
    image: mongo:latest
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:

networks:
  default:
    driver: bridge
