fastapi
pymongo
python-dateutil
uvicorn
python-dotenv
pydantic
paho-mqtt
newrelic
# python-jose[cryptography]
python-jose
fastapi-auth0
requests
transbank-sdk
python-multipart
httpx
ruff==0.4.5
pytest==8.2.0
pytest-asyncio==0.23.7  # si usas async
pytest-cov==4.1.0
pytest-mock==3.10.0
pytest-httpx==0.22.0